html, body{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    margin: 0 auto;
}
.container-fluid{
    padding: 0;
}
footer .container-fluid{
    padding: 0;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
}
.row{
    padding: 0;
    margin: 0;
}
header.home-page{
    width: 100%;
    height: 900px;
    background-color: lightgray;
}
header.playlist-page{

}
nav{
    height: 90px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
nav a{
    color: #2b2b2b;
}
.stream-logo{
    height: 90px;
    float: left;
    padding-top: 35px;
}
.stream-symbol{
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 50%;
    background-color: #2b2b2b;
}
.stream-logo h5{
    height: 50px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding-top: 13px;
    float: right;
    font-weight: bold;
}
.nav-control{
    width: 590px;
    height: 90px;
    margin-bottom: 0px;
    padding-top: 40px;
    float: left;
}
.nav-control ul{
    list-style: none;
    height: 100%;
    padding-top: 9px
}
.nav-control ul li{
    padding-left: 40px;
    float: left;
    height: 100%;
    color: #2b2b2b;
}
.search-bar{
    height: 50px;
    width: 255px;
    float: right;
    border: solid 2.3px black;
    border-radius: 25px;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 25px;
}
.search-bar p{
    float: left;
}
.search-symbol{
    float: right;
}

.header-content{
    height: 230px;
    margin-left: 122px;
    margin-right: 122px;
    margin-top: 260px;
}
.header-content h1{
    margin-left: 5px;
    margin-bottom: 70px;
}
.header-controls{
    width: 100%;
    height: 70px;
}
.header-play{
    height: 70px;
    width: 225px;
    margin-right: 40px;
    padding-top: 24.4px;
    color: white;
    background-color: black;
    border-radius: 35px;
    text-align: center;
    float: left;
}
.header-shuffle{
    height: 70px;
    width: 225px;
    margin-right: 40px;
    padding-top: 20px;
    color: black;
    border: solid 2.3px black;
    border-radius: 35px;
    text-align: center;
    float: left;
}
.header-fav-button{
    height: 70px;
    width: 70px;
    border: solid 2.3px black;
    border-radius: 50%;
    float: left;
}

.featured-section{
    height: 500px;
    width: 1196px;
    margin: 0 auto;
    margin-top: -60px;
}
.featured-video{
    height: 330px;
    width: 586px;
    margin-left: -496px;
    background-color: gray;
    float: left;
}
.featured-info{
    height: 500px;
    width: 700px;
    background-color: rgb(235, 233, 233);
    float: right;
}
.featured-info h4{
    margin-left: 120px;
    margin-top: 25px;
}
.featured-info h2{
    margin-top: 10px;
    margin-left: 120px;
}
.featured-info .featured-info-text{
    height: 275px;
    margin-top: 35px;
    margin-left: 120px;
    margin-right: 60px;
    font-size: large;
}
.featured-nav{
    height: 50px;
    margin-right: 10px;
}
.featured-nav-button{
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 20px;
    border: solid 3px black;
    border-radius: 50%;
    border-color: black;
    font-size: xx-large;
    font-weight: bold;
    float: right;
}

.recent-releases{
    width: 1196px;
    margin: 0 auto;
    margin-top: 80px;
}
.recent-releases h4{
    margin-top: 10px;
}
.popular-albums{
    width: 1198px;
    margin: 0 auto;
    margin-top: 80px;
}
.popular-albums h4{
    margin-top: 10px;
}
.album-artwork{
    height: 277px;
    width: 277px;
    margin-top: 30px;
    background-color: lightgray;
}
.album-actions{
    height: 100%;
    width: 100%;
    padding-top: 68px;
}
.album-play-button{
    height: 70px;
    width: 70px;
    background-color: rgb(235, 233, 233);
    border-radius: 50%;
    margin: 0 auto;
}
.album-info{
    height: 70px;
    width: 100%;
    margin-top: 68px;
    background-color: #2b2b2b;
    color: rgb(235, 233, 233);
}
.track-info{
    height: 70px;
    padding-top: 12px;
    padding-left: 15px;
    float: left;
}
.album-info .album-fav-button{
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    border: solid 3px rgb(235, 233, 233);;
    border-radius: 50%;
}

.page2-content{
    width: 100%;
    margin-top: 175px;
}
.embedded-map{
    height: 200px;
    width: 100%;
    background-color: gray;
}
.get-in-touch-section{
    background-color: darkgray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
form{
}
.input-el{
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: rgb(73, 71, 71);
    color: white;
    border: none;
    border-radius: 25px;
}
input{
    padding-top: -50px;
}
input .input-el{
    width: 100%;
    height: 50px;
}
select .input-el{
    width: 100%;
    height: 50px;
}
textarea .input-el{
    width: 100%;
    height: 100px;
}
::placeholder{
    color: white;
}


.playlist-cover{
    height: 470px;
    width: 470px;
    background-image: url("../assets/albums/10-Zeitgeist-Shepard-Fairey_resize.jpg");
    background-position: center;
    background-size: cover;
}
.playlist-play{
    background-image: url("../assets/icons/media/black_play_media_icon.svg");
    width: 70px;
    height: 70px;
}

footer{
    width: 1196px;
    margin: 0 auto;
    margin-top: 60px;
}
footer .container-fluid{
    font-weight: bold;
}
footer .container-fluid .row .col-4 .copyright{
    text-align: center;
}
.copyright{
    margin: 0 auto;
}
footer ul{
    list-style: none;
}
.social-icon{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    border: solid 3px black;
    border-radius: 50%;
    float: right;
}